name: Codecov workflow
on: [push]
jobs:
  run:
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@master
      - uses: codecov/codecov-action@v1
        with:
          verbose: true